<header>
	<h1><%= title %></h1>
	<small>Talk to random people, you never know who you'll talk to!</small>
</header>
<section>
	<form>
		<input name="u" >
		<textarea name="m"></textarea>
		<button>Send</button>
		<label>
			<small>Press Enter to Send</small>
			<input type="checkbox" name="entersend" />
		</label>
	</form>
</section>
<section>
	<div id="history">
		<marquee>Loading</marquee>
	</div>
</section>