<header>
	<h1><%= title %></h1>
	<small>Talk to random people, you never know who you'll talk to!</small>
</header>
<section>
	<form action="/chat/chat.cgi" method="POST">
		<input name="u" placeholder="Enter your chat handle">
		<sup>
			<span name="updates"></span>
		</sup>
		<button>Send</button>
		<label>
			<small>Press Enter to Send</small>
			<input type="checkbox" name="entersend"  />
		</label>
		<textarea name="m" placeholder="type your message here and press send"></textarea>
		
	</form>
</section>
<section>
	<div id="history">
		<marquee>Loading</marquee>
	</div>
</section>